@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');

* {
    margin: 0;
    border: 0;
    padding: 0;
}

header {
    background-color: white;
    padding-bottom: 30px;
    border-bottom: 1px solid black;
   
}

body {
    font-family: Lora, sans-serif;
    font-weight: 300;
    background-color: rgba(0, 128, 0, 0.5);
}

/* home image */

#home-image {
    max-height: 80%;
    max-width: 80%;
    margin: 0 auto;
    padding-top: 20px;
    padding-bottom: 20px;
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

#image-body {
    background-color: rgba(0, 128, 0, 0.5);
}

div {
    color: rgba(0, 128, 0, 0.5);
}

/* headings and logo*/

h1, h2, h3 {
 text-align: center;
 font-family: Lora, sans-serif;
 color: black; 
}

#logo {
    font-size: 200%;
    text-decoration: none;
    color: black;
}

/* navigation links*/

#menu {
    font-size: 100%;
    letter-spacing: 1px;
}

#menu li {
    list-style-type: none;
    margin-right: 20px;
    margin-left: 20px;
}

#menu > li {
    display: inline;
}

#menu a {
    text-decoration: none;
    color: black;
}

#menu a:hover {
    border-bottom: 1px solid black;
}

.active {
    border-bottom: 1px solid black;
}

/* footer */

footer {
    background-color: white;
    border-top: 1px solid black;
}

.social-networks {
    text-align: center;
    margin-top: 1px;
}

.social-networks > li {
    display: inline;
}

.social-networks i {
    font-size: 160%;
    margin: 1%;
    padding: 1%;
    color: black;
}

/* facilities */

li {
    list-style: none;
    margin-top: 1em;
}

#facilities {
    background-color: white;
    width: 50%;
    padding: 10px;
    border: 2px solid black;
    margin: 0 auto;    
}

#facilities li {
    text-align: center;
    color: black;
}

/* benefits */

#benefits {
    background-color: white;
    width: 50%;
    padding: 10px;
    border: 2px solid black;
    margin: 0 auto;
}

#benefits li {
    text-align: center;
    color: black;
}

/* sign up prompt link at end of webpage */

#sign-up {
    background-color: yellow;
    width: 30%;
    padding: 10px;
    border: 2px solid black;
    margin: 0 auto;
    text-align: center;
    text-transform: uppercase;
    color: blue;
}

/* about us section*/

#about-us {
    background-color: white;
    width: 50%;
    padding: 10px;
    border: 2px solid black;
    margin: 0 auto;
}

#about-us-image {
    max-height: 80%;
    max-width: 80%;
    margin: 0 auto;
    padding-top: 20px;
    padding-bottom: 20px;
}

/* coach male */

/* coach female */