@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');

* {
    margin: 0;
    border: 0;
    padding: 0;
}

header {
    background-color: white;
    padding-bottom: 30px;
    border-bottom: 1px solid black;

}

body {
    font-family: Lora, sans-serif;
    font-weight: 300;
    background-color: rgba(0, 128, 0, 0.5);
}

/* home image */

#home-image {
    max-height: 80%;
    max-width: 80%;
    margin: 0 auto;
    padding-top: 20px;
    padding-bottom: 20px;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

#image-body {
    background-color: rgba(0, 128, 0, 0.5);
}

div {
    color: rgba(0, 128, 0, 0.5);
}

/* headings and logo*/

h1,
h2,
h3 {
    text-align: center;
    font-family: Lora, sans-serif;
    color: black;
}

#logo {
    font-size: 200%;
    text-decoration: none;
    color: black;
}

/* navigation links*/

#menu {
    font-size: 100%;
    letter-spacing: 1px;
}

#menu li {
    list-style-type: none;
    margin-right: 20px;
    margin-left: 20px;
}

#menu>li {
    display: inline;
}

#menu a {
    text-decoration: none;
    color: black;
}

#menu a:hover {
    border-bottom: 1px solid black;
}

.active {
    border-bottom: 1px solid black;
}

/* footer */

footer {
    background-color: white;
    border-top: 1px solid black;
}

.social-networks {
    text-align: center;
    margin-top: 1px;
}

.social-networks>li {
    display: inline;
}

.social-networks i {
    font-size: 160%;
    margin: 1%;
    padding: 1%;
    color: black;
}

/* facilities */

li {
    list-style: none;
    margin-top: 1em;
}

#facilities {
    background-color: white;
    width: 50%;
    padding: 10px;
    border: 2px solid black;
    margin: 0 auto;
}

#facilities li {
    text-align: center;
    color: black;
}

/* benefits */

#benefits {
    background-color: white;
    width: 50%;
    padding: 10px;
    border: 2px solid black;
    margin: 0 auto;
}

#benefits li {
    text-align: center;
    color: black;
}

/* sign up prompt link at end of webpage */

#sign-up {
    background-color: rgba(255, 255, 0, 0.5);
    width: 30%;
    padding: 10px;
    border: 2px solid black;
    margin: 0 auto;
    text-align: center;
    text-transform: uppercase;
    color: blue;
}

/* about us section*/

#about-us {
    background-color: white;
    width: 50%;
    padding: 10px;
    border: 2px solid black;
    margin: 0 auto;
}

#about-us-image {
    max-height: 80%;
    max-width: 80%;
    margin: 0 auto;
    padding-top: 20px;
    padding-bottom: 20px;
}

/* coach male */

#male-image {
    max-height: 100%;
    width: auto;
    margin: 0 auto;
    padding-top: 20px;
    padding-bottom: 20px;
}

.coach {
    background-color: white;
    width: 50%;
    padding: 10px;
    border: 2px solid black;
    margin: 0 auto;
}

/* coach female */

#female-image {
    max-height: 100%;
    width: auto;
    margin: 0 auto;
    padding-top: 20px;
    padding-bottom: 20px;
}

/* classes */

#classes-image {
    padding-top: 20px;
}

.info {
    background-color: white;
    width: 50%;
    padding: 10px;
    border: 2px solid black;
    margin: 0 auto;
}

/* contact us and sign up form */

.form-section {
    background-image: url("../images/007\ -\ Contact\ Us.jpg");
    height: 400px;
    width: 50%;
    padding: 10px;
    border: 2px solid black;
    margin: 0 auto;
    background-size: cover;
    margin-top: 20px;

}

.signup-form {
    margin: 50px 10% 50px 10%;
    color: #fff;
    background-color: rgba(60, 60, 60, 0.6);
    position: relative;
}

.text-input {
    color: #fafafa;
    width: 90%;
    height: 25px;
    margin: 5px 0 20px 0;
    border: 1px solid #fafafa;
    border-radius: 1px;
}

.text-input:hover {
    border-color: rgba(0, 128, 0, 0.5);

}

.join-button {
 margin: 0 auto;
    border-radius: 2px;
    padding: 15px 32px 15px 32px;
    text-align: center;
    font-size: 100%;
    background-color: rgba(255, 255, 0, 0.5);
    color: blue;
    display: block;
    text-transform: uppercase;
    font-family: Lora, sans-serif;
    font-size: 100%;
}
