@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');

* {
    margin: 0;
    border: none;
    padding: 0;
}

header {
    background-color: white;
}

body {
    font-family: Lora, sans-serif;
    font-weight: 300;
    background-color: lightgreen;
}

footer {
    background-color: white;
}